@using Tecsmart.Suporte.Web.Startup
@{
    ViewBag.Title = L("CrachasSuprimentosConsumo");
    ViewBag.CurrentPageName = PageNames.Crachas_Suprimentos_Consumo;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Suprimentos/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Suprimentos/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("CrachasSuprimentosConsumo")</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">@L("CrachasSuprimentosConsumo")</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header ctm-p-header">
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.DevExtreme().Toolbar()
                                .ID("tbSuprimentosConsumo")
                                .Items(items =>
                                {
                                    items.Add()
                                    .Widget(w => w
                                        .Button()
                                        .Hint("Novo")
                                        .OnClick("addSuprimentoConsumo")
                                        .Text("")
                                        .Type(ButtonType.Default)
                                        .Icon("add"))
                                    .Location(ToolbarItemLocation.Before).LocateInMenu(ToolbarItemLocateInMenuMode.Auto);
                                }))
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        @(Html.DevExtreme().DataGrid()
                            .ID("gridSuprimentosConsumo")
                            .DataSource(d => d.Mvc()
                                .Controller("Suprimentos")
                                .LoadAction("GetAllSuprimentosConsumo")
                                .Key("id")
                            )
                            .ColumnChooser(c => c.Enabled(false))
                            .Columns(c =>
                            {
                                c.Add().DataField("dataCompra").Caption("Data").DataType(GridColumnDataType.Date).Width(150);
                                c.Add().DataField("suprimentoFkDescricao").Caption("Suprimento").DataType(GridColumnDataType.String);
                                c.Add().DataField("quantidade").Caption("Quantidade").DataType(GridColumnDataType.Number).Width(150);
                                c.Add().DataField("valor").Caption("Valor").DataType(GridColumnDataType.Number).Format("R$ #,##0.##").Width(100);
                                c.Add().DataField("observacoes").Caption("Observações").DataType(GridColumnDataType.String);
                                c.Add().Caption("Ações")
                                .Type(GridCommandColumnType.Buttons)
                                .Buttons(btns =>
                                {
                                    btns.Add()
                                        .Text("Editar")
                                        .Icon("fa fa-edit")
                                        .Hint("Editar")
                                        .OnClick("editSuprimentoConsumo");
                                    btns.Add()
                                        .Text("Excluir")
                                        .Icon("fas fa-trash")
                                        .Hint("Excluir")
                                        .OnClick("deleteSuprimentoConsumo");
                                });
                            })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
