<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="javascript:;"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="Chamados" asp-action="Index"><i class="fas fa-headset"></i> @L("Chamados")</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="Agenda" asp-action="Index"><i class="fas fa-calendar-alt"></i> @L("Agenda")</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="Clientes" asp-action="Index"><i class="fas fa-users"></i> @L("Clientes")</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="Crachas" asp-action="Index"><i class="fas fa-id-card-alt"></i> @L("Crachas")</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" href="http://10.0.0.251:1234/base/" target="_blank"><i class="fas fa-file-alt"></i> Base Interna</a>
    </li>
</ul>
