@using Tecsmart.Suporte.Web.Models.Chamados
@model CreateOrEditChamadoViewModel
@{
    ViewData["Title"] = "Cadastrar Chamado";
}

<form class="formChamado" method="post">
    <partial name="_FormChamado" />
</form>
